## Apostrophe gitignore

node_modules
## Custom rules
.tmp
.idea
.swp
.vscode
.nvmrc
dist
pong_mechanics
.netlify
yarn-error.log

## OS metadata
.DS_Store
Thumbs.db

## Ignore local config:
/config/local.js
